@model int

<div id="cart-block" class="col-xs-5 col-sm-2 shopping-cart-box">
    <a class="cart-link" href="~/cart">
        <span class="title">Shopping cart</span>
        <span class="total">Số lượng trong giỏ: @Model</span>
        <span class="notify notify-left">@Model</span>
    </a>
</div>
