@model Gicco.Module.ShoppingCart.ViewModels.CartVm

<div id="cart-block" class="col-xs-5 col-sm-2 shopping-cart-box">
    <a class="cart-link" href="~/cart">
        <span class="title">@Localizer["Shopping cart"]</span>
        <span class="total">@Localizer["Cart subtotal"]: <span id="totalPrice">{{vm.cart.orderTotalString}}</span></span>
        <span class="notify notify-left">{{vm.cart.items.length}}</span>
    </a>
</div>
