@model IList<Gicco.Module.Catalog.ViewModels.ProductThumbnail>

@if (Model.Any())
{
    <div class="page-product-box">
        <h3 class="heading">@Localizer["Recently viewed products"]</h3>
        <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true" data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
            @foreach (var product in Model)
            {
                @await Html.PartialAsync("/Themes/GiccoStore/Areas/Catalog/Views/Shared/_ProductThumbnail.cshtml", product)
            }
        </ul>
    </div>
}
