<div class="date-filter">
    <!--<label>From</label>-->
    <div class="input-group">
        <input placeholder="From" type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="after" is-open="isAfterOpen"
               close-text="Close" ng-change="changeDate(after)" />
        <span class="input-group-append">
        <button type="button" class="btn btn-outline-primary" ng-click="openAfter($event)">
            <i class="fa fa-calendar"></i>
        </button>
    </span>
    </div>
    <!--<label>To</label>-->
   
    <div class="input-group mt-5">
        <input placeholder="To" type="text" class="form-control" uib-datepicker-popup="yyyy/MM/dd" ng-model="before" is-open="isBeforeOpen"
               close-text="Close" ng-change="changeDate(before)" />
        <span class="input-group-append">
            <button type="button" class="btn btn-outline-primary" ng-click="openBefore($event)">
                <i class="fa fa-calendar"></i>
            </button>
        </span>
    </div>
</div>
