@model IEnumerable<Gicco.Module.Core.ViewModels.WidgetInstanceViewModel>

@foreach (var widgetInstance in Model)
{
    <div class="category-featured">
        <nav class="navbar nav-menu nav-menu-red show-brand">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand">
                    <a href="#">
                        @widgetInstance.Name
                    </a>
                </div>
                <span class="toggle-menu"></span>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav"></ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->                      
        </nav>

        <div class="product-featured clearfix">
            <div class="product-featured-content">
                <div class="product-featured-list">
                    <div class="tab-container">
                        <!-- tab product -->
                        <div class="tab-panel active">
                            <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true" data-margin="0" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":4}}'>
                                @await Component.InvokeAsync(widgetInstance.ViewComponentName, new { widgetInstance = widgetInstance })
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
