<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div ng-if="!vm.isEditMode">{{::vm.translate.get('Create Vendor')}}</div>
                    <div ng-if="vm.isEditMode">{{::vm.translate.get('Edit Vendor')}}</div>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <!-- /.col -->

    </div>
    <!-- /.row -->
</div>
