@model IEnumerable<Gicco.Module.Core.ViewModels.BreadcrumbViewModel>

@foreach (var item in Model)
{
    <span class="navigation-pipe">&nbsp;</span>
    <a  href="#">@Localizer[item.Text] &nbsp;</a>
}
