<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="pull-left">{{::vm.translate.get('Product Attribute Groups')}}</div>
                    <div class="pull-right">
                        <a ui-sref="app.catalog.product-attribute-group-create"> <i class="fa fa-user-plus"></i>
                            {{::vm.translate.get('Create Product Attribute Groups')}} </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-condensed table-striped">
                            <thead>
                                <tr>
                                    <th>{{::vm.translate.get('Name')}}</th>
                                    <th>{{::vm.translate.get('Actions')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="attributeGroup in vm.productAttributeGroups">
                                    <td>{{attributeGroup.name}}</td>
                                    <td>
                                        <a ui-sref="app.catalog.product-attribute-group-edit({id: attributeGroup.id})" title="Edit"
                                            class="btn btn-primary btn-xs"> <span class="fa fa-edit"></span></a>
                                        <!--<button ng-click="vm.deleteProductOption(attributeGroup)" class="btn btn-danger btn-xs delete"> <span class="fa fa-times"></span></button>-->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>