@{
    ViewData["Title"] = "Access Denied";
}

<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="/" title="@Localizer["Return to Home"]">@Localizer["Home"]</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">@Localizer["Authentication"]</span>
        </div>
        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading">
            <span class="page-heading-title2">@ViewData["Title"]</span>
        </h2>
        <!-- ../page heading-->
        <div class="page-content">
            <div class="row">
                <div class="col-sm-12">
                    <header>
                        <h1 class="text-danger">We are sorry!</h1>
                        <h2 class="text-danger">Permission is needed to access the page.</h2>
                    </header>
                </div>
            </div>
        </div>
    </div>
</div>
