@model SendCodeViewModel
@{
    ViewData["Title"] = "Send Verification Code";
}

<div class="columns-container">
    <div class="container" id="columns">
        <!-- breadcrumb -->
        <div class="breadcrumb clearfix">
            <a class="home" href="/" title="@Localizer["Return to Home"]">@Localizer["Home"]</a>
            <span class="navigation-pipe">&nbsp;</span>
            <span class="navigation_page">@ViewData["Title"]</span>
        </div>
        <!-- ./breadcrumb -->
        
        <div class="page-content">
            <div class="row">
                <div class="col-sm-12">
                    <form asp-area="Core" asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@Model.ReturnUrl" method="post">
                        <input asp-for="RememberMe" type="hidden" />
                        <div class="form group row">
                            <div class="col-md-8">
                                Select Two-Factor Authentication Provider:
                                <select asp-for="SelectedProvider" asp-items="Model.Providers"></select>
                                <button type="submit" class="btn btn-outline-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
