@model Gicco.Module.Core.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}
<!-- RENDER BODY -->
<!-- Home slideder-->
<div id="home-slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 slider-left"></div>
            <div class="col-sm-9 header-top-right">
                <partial name="_WidgetInstances" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeSlider)" />
            </div>
        </div>
    </div>
</div>
<!-- END Home slideder-->
<!-- servives -->
<div class="container">
    <div class="service ">
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="~/themes/GiccoStore/data/s1.png" />
            </div>
            <div class="info">
                <a href="#"><h3>Free Shipping</h3></a>
                <span>On order over $200</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="~/themes/GiccoStore/data/s2.png" />
            </div>
            <div class="info">
                <a href="#"><h3>30-day return</h3></a>
                <span>Moneyback guarantee</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="~/themes/GiccoStore/data/s3.png" />
            </div>

            <div class="info">
                <a href="#"><h3>24/7 support</h3></a>
                <span>Online consultations</span>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 service-item">
            <div class="icon">
                <img alt="services" src="~/themes/GiccoStore/data/s4.png" />
            </div>
            <div class="info">
                <a href="#"><h3>SAFE SHOPPING</h3></a>
                <span>Safe Shopping Guarantee</span>
            </div>
        </div>
    </div>
</div>
<!-- end services -->

<partial name="_HomeTabWidget" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeFeatured)" />

<div class="content-page">
    <div class="container">
        <partial name="_HomeProductCategory" model="Model.WidgetInstances.Where(x => x.WidgetZoneId == WidgetZoneIds.HomeFeaturedCategory)" />
    </div>
</div>

<div class="container">
    <div class="brand-showcase">
        <h2 class="brand-showcase-title">
            brand showcase
        </h2>
        <div class="brand-showcase-box">
            <ul class="brand-showcase-logo owl-carousel" data-loop="true" data-nav="true" data-dots="false" data-margin="1" data-autoplayTimeout="1000" data-autoplayHoverPause="true" data-responsive='{"0":{"items":2},"600":{"items":5},"1000":{"items":8}}'>
                <li data-tab="showcase-1" class="item active"><img src="~/themes/GiccoStore/data/gucci.png" alt="logo" class="item-img" /></li>
                <li data-tab="showcase-2" class="item"><img src="~/themes/GiccoStore/data/gucci.png" alt="logo" class="item-img" /></li>
                <li data-tab="showcase-3" class="item"><img src="~/themes/GiccoStore/data/gucci.png" alt="logo" class="item-img" /></li>
                <li data-tab="showcase-4" class="item"><img src="~/themes/GiccoStore/data/gucci.png" alt="logo" class="item-img" /></li>
                <li data-tab="showcase-5" class="item"><img src="~/themes/GiccoStore/data/gucci.png" alt="logo" class="item-img" /></li>
                <li data-tab="showcase-6" class="item"><img src="~/themes/GiccoStore/data/gucci.png" alt="logo" class="item-img" /></li>
                <li data-tab="showcase-7" class="item"><img src="~/themes/GiccoStore/data/gucci.png" alt="logo" class="item-img" /></li>
                <li data-tab="showcase-8" class="item"><img src="~/themes/GiccoStore/data/gucci.png" alt="logo" class="item-img" /></li>
                <li data-tab="showcase-9" class="item"><img src="~/themes/GiccoStore/data/gucci.png" alt="logo" class="item-img" /></li>
            </ul>
        </div>

    </div>
</div>

