<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="pull-left">{{::vm.translate.get('Categories')}}</div>
                    <div class="pull-right">
                        <a ui-sref="app.catalog.category-create"> <i class="fa fa-user-plus"></i> {{::vm.translate.get('Create Category')}} </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{::vm.translate.get('Name')}}</th>
                                    <th>{{::vm.translate.get('Include in menu')}}</th>
                                    <th>{{::vm.translate.get('Display order')}}</th>
                                    <th class="text-center">{{::vm.translate.get('Is Published')}}</th>
                                    <th>{{::vm.translate.get('Actions')}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="category in vm.categories">
                                    <td>{{category.name}}</td>
                                    <td class="text-center"><i ng-attr-class="{{category.includeInMenu && 'fa fa-circle' || 'fa fa-circle-o'}}"></i></td>
                                    <td>{{category.displayOrder}}</td>
                                    <td class="text-center"><i ng-attr-class="{{category.isPublished && 'fa fa-circle' || 'fa fa-circle-o'}}"></i></td>
                                    <td>
                                        <a ui-sref="app.catalog.category-create-parent({parent: category.id})" title="Add to this category"> <span class="text-success fa fa-plus"></span></a>
                                        <a ui-sref="app.catalog.category-edit({id: category.id})" title="Edit" class="ml-1"> <span class="fa fa-edit"></span></a>
                                        <a href="#" ng-click="vm.deleteCategory(category)" class="ml-1"> <span class="fa fa-times text-danger"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->

    </div>
    <!-- /.row -->
</div>

