<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="pull-left">{{::vm.translate.get('Menus')}}</div>
                    <div class="pull-right">
                        <a ui-sref="app.content.menus-create"> <i class="fa fa-user-plus"></i> {{::vm.translate.get('Create Menu')}} </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{::vm.translate.get('Name')}}</th>
                                <th>IsSystem</th>
                                <th class="text-center">{{::vm.translate.get('Is Published')}}</th>
                                <th>{{::vm.translate.get('Actions')}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="menu in vm.menus">
                                <td>{{menu.name}}</td>
                                <td>{{menu.isSystem}}</td>
                                <td class="text-center"><i ng-attr-class="{{menu.isPublished && 'fa fa-circle' || 'fa fa-circle-o'}}"></i></td>
                                <td>
                                    <a ui-sref="app.content.menus-edit({id: menu.id})" title="Edit" class="btn btn-primary btn-xs"> <span class="fa fa-edit"></span></a>
                                    <button ng-click="vm.deleteMenu(menu)" class="btn btn-danger btn-xs delete"> <span class="fa fa-times"></span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->

    </div>
    <!-- /.row -->
</div>

