@model Gicco.Module.Catalog.ViewModels.CategoryWidgetComponentVm

<div class="col-sm-6  col-lg-3 cate-box">
    <div class="cate-tit">
        <div class="div-1" style="width: 46%;">
            <div class="cate-name-wrap">
                <p class="cate-name">@Model.WidgetName</p>
            </div>
            <a href="~/@Model.Category.Slug" class="cate-link" data-ac="flipInX"><span>@Localizer["Shop Now"]</span></a>
        </div>
        <div class="div-2">
            <a href="~/@Model.Category.Slug">
                <img src="@Model.Category.ThumbnailUrl" alt="@Model.WidgetName" class="hot-cate-img">
            </a>
        </div>

    </div>
</div> <!-- /.cate-box -->
