@{
    Layout = "_Layout";
    ViewBag.Title = Localizer["Page Not Found"];
}
<div class="columns-container">
    <div class="container" id="columns">
        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading">
            <span class="page-heading-title2">@Localizer["We are sorry!"]</span>
        </h2>
        <!-- ../page heading-->
        <div class="page-content">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-danger mt-10">The page you have requested cannot be found</h2>
                    <p class="mt-10">Maybe the page was moved or deleted, or perhaps you just mistyped the address.</p>
                    <p class="mt-10">Why not try and find your way using the navigation bar above or click on the logo to return our home page.</p>
                </div>
            </div>
        </div>
    </div>
</div>

