@{ 
    Layout = "_Layout.cshtml";
    ViewBag.Title = Localizer["Error"];
}
<div class="columns-container">
    <div class="container" id="columns">        
        <!-- ./breadcrumb -->
        <!-- page heading-->
        <h2 class="page-heading">
            <span class="page-heading-title2">@Localizer["Error"].</span>
        </h2>
        <!-- ../page heading-->
        <div class="page-content">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-danger mt-10">An error occurred while processing your request.</h2>
                    <h2 class="mt-10">Please create an issue in <a href="https://github.com/Gicco/Gicco/issues" target="_blank">https://github.com/Gicco/Gicco/issues</a>. Thanks</h2>
                </div>
            </div>
        </div>
    </div>
</div>

