@model Gicco.Module.Cms.ViewModels.CarouselWidgetViewComponentVm

 <div class="homeslider">
    <div class="content-slide">
        <ul id="contenhomeslider">
            @foreach (var item in Model.Items)
            {
                <li><img alt="@item.Caption" src="@item.Image" title="@item.Caption" /></li>
            }
        </ul>
    </div>
</div>
