<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="pull-left">{{::vm.translate.get('Contacts')}}</div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <table class="table" st-pipe="vm.getContacts" st-table="vm.contacts">
                            <thead>
                                <tr>
                                    <th class="sortable w-25 text-center" st-sort="FullName">{{ ::vm.translate.get('Customer')}}</th>
                                    <th class="w-25 text-center">{{ ::vm.translate.get('Contact Area')}}</th>
                                    <th class="w-50 text-center">{{ ::vm.translate.get('Short content')}}</th>
                                    <th class="sortable col-md-2 text-center" t-sort="CreatedOn">{{ ::vm.translate.get('Created On')}}</th>
                                    <th class="col-md-1 text-center">Actions</th>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="form-group">
                                            <input class="form-control" st-search="FullName" />
                                        </div>
                                    </th>
                                    <th>
                                        <div class="form-group">
                                            <select class="form-control" st-search="ContactAreaId">
                                                <option value="">{{ ::vm.translate.get('All')}}</option>
                                                <option ng-repeat="item in vm.contactAreas" value="{{item.id}}">
                                                    {{item.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </th>
                                    <th></th>
                                    <th><st-date-range predicate="CreatedOn" before="query.before" after="query.after"></st-date-range></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th ng-show="!vm.isLoading" colspan="5">{{vm.tableStateRef.pagination.totalItemCount | number:0}} records found</th>
                                </tr>
                            </thead>
                            <tbody ng-show="!vm.isLoading">
                                <tr ng-repeat="contact in vm.contacts">
                                    <td>{{contact.fullName}}</td>
                                    <td>{{contact.contactArea}}</td>
                                    <td>{{contact.content | limitTo: 50}}...</td>
                                    <td>{{contact.createdOn | date:'medium'}}</td>
                                    <td>
                                        <a ui-sref="app.sites.contact-preview({id: contact.id})" title="View" > <span class="fa fa-search"></span></a>
                                        <a href="#" ng-click="vm.deleteContact(contact)" class="ml-1"> <span class="fa fa-trash text-danger"></span></a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-show="vm.isLoading">
                                <tr>
                                    <td colspan="5" class="text-center">Loading ... </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-center" st-pagination="" st-items-by-page="50" st-displayed-pages="10" colspan="5"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->

    </div>
    <!-- /.row -->
</div>
