@using Microsoft.AspNetCore.Localization
@using Gicco.Infrastructure
@using Gicco.Module.Core.Extensions

@inject IViewLocalizer Localizer
@inject IWorkContext WorkContext

@{
    var uiCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.UICulture.Name;
    var selectedCulture = WorkContext.GetCurrentUser().Result.Culture;
}

@if (GlobalConfiguration.Cultures.Count() > 1)
{
    <div class="language">
        <div class="dropdown">
            <a class="current-open" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
                Language (@uiCulture)
            </a>
            <ul class="dropdown-menu lang-selector" role="menu">
                @foreach (var culture in GlobalConfiguration.Cultures)
                {
                    <li><a href="#" data-value="@culture.Id"> @culture.Name</a></li>
                }
            </ul>
            <form asp-area="Localization" asp-controller="Localization" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" method="post" id="lang-form" role="form">
                <input type="hidden" name="culture" value="@uiCulture" />
            </form>
        </div>
    </div>
}
